body {
    font-family: 'Montserrat', sans-serif;
    /* previously: lavenderblush */
    background-color: plum;
    color: gray;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 4%;
}

.login-info {
    /* previously: lavender */
    border: 2px solid lavender;
    background-color: lavender;
    border-radius: 9px;
    text-align: left;
    padding-left: 10px;
}

.row {
    display: flex;
}

.wrapper {
    border: 2px solid powderblue;
    background-color: powderblue;
    border-radius: 9px;
    margin-left: 10px;
    flex: 50%;
}

#logout {
    text-decoration: none;
    /* previously: mediumpurple */
    color: dodgerblue;
    /* previously: khaki */
    border: 2px solid skyblue;
    border-radius: 9px;
    background-color: skyblue;
    padding: 10px;
}

#logout:hover {
    color: palevioletred;
}